*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-bgc : #EAE7DC;
    --clr-primary : #E85A4F;
    --clr-secondary : #E98074;

    --clr-accent : #8E8D8A;
    --clr-bg-btn : #D8C3A5;
}

body {
    font-size: 62.5%;
    background-color: var(--clr-bgc);
}

.container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 3rem;
}

.heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--clr-primary);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.input-box .input-text,
.input-box .submit-btn{
    border: none;
    border: 2px solid var(--clr-primary);
    border-radius: .2rem;
    padding: .2rem;
    font-size: 1.6rem;
    color: var(--clr-secondary);
    background-color: var(--clr-bg-btn);
}

.input-box .submit-btn{
    cursor: pointer;
}

.grocery-container {
    margin-top: 1rem;
    background-color: var(--clr-bg-btn);
    border: 2px solid var(--clr-primary);
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grocery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
}

.grocery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    padding: .5rem;
    margin: 1rem auto;
    border-bottom: 1px solid var(--clr-accent);
}

.grocery-item .title {
    font-size: 2rem;
    color: var(--clr-accent);
}

/* ITEMS BUTTONS */
.grocery-item .btn-container button{
    font-size: 2rem; 
    border: none;
    background-color: var(--clr-bg-btn);
}

.grocery-item .btn-container .delete-btn{
    color: red;
    cursor: pointer;
}
.grocery-item .btn-container .edit-btn{
    color: green;
    cursor: pointer;
}
.edit-text {
    color: var(--clr-primary) !important;
    animation: focus 1s infinite;
}
/* END OF ITEMS BUTTONS */

.clear-btn {
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    padding: .3rem;
    margin: 1rem auto;
    color: var(--clr-bgc);
    background-color:var(--clr-primary);
    cursor: pointer;
}

/* EDIT/ERROR MSG */
.msg-container p { 
    font-size: 1rem;
    padding: .3rem;
    margin-top: .2rem;
    border-radius: .3rem;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.error-msg {
    color: #fff;
    background-color: red;
    animation : fadeout 1.5s;
}

.edit-msg {
    color: #fff;
    background-color: green;
    animation : fadeout 1.5s;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes focus {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}